<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="style.css" />
    <title>BookersTop_wcp</title>
    <script src="https://kit.fontawesome.com/ebd5cc16fe.js" crossorigin="anonymous"></script>

  </head>

  <body>
    <!-- header -->
    <header>
      <h1>
        ようこそ
        <strong class="strong1">Bookers</strong>
         へ!
      </h1>
    </header>

    <!-- main -->
    <main>
      <p>
        <strong class="strong2">Bookers</strong>
        では、さまざまな書籍に関するあなたの意見や
        </p>
        <P>印象を共有し交換することができます</P>

        <p class="start">
          <a href="/books">start</a>
        </p>
    </main>

  </body>
</html>